{% extends 'analyzer/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Text Emotion Analyzer</h1>
        <p class="lead">Enter your text below to analyze its emotional content.</p>
        <form action="{% url 'analyze' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" required name="text" rows="4" placeholder="Enter text here..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Analyze Emotion</button>
        </form>
    </div>
{% endblock %}
